{% extends "user/layout.html"%}
{% block content %}

<div class="content py-3">
    <div class="row g-5"> 
        <div class="col-md-12">
            <h1 style="text-align: center; color: #ab3cfc;">CONTACT US</h1>


            <p>We're thrilled that you want to get in touch with us! At Quiz Time, we value your feedback, suggestions, and inquiries. Whether you have a question, a comment, or a partnership opportunity, we're here to listen and assist you in the best possible way.</p>

            <p>You can reach us through the following channels:</p>

            <h4>Email:</h4>
            <p>Feel free to drop us an email at contact@quiztime.com. We strive to respond to all emails promptly and provide the assistance you need. Whether you have a question about a specific quiz, need technical support, or have suggestions for improving our platform, we're eager to hear from you.</p>

            <h4>Social Media:</h4>
            <p>Connect with us on our social media platforms. We're active on Facebook, Twitter, and Instagram, where we share quiz updates, interesting trivia, and engage with our community. Don't hesitate to send us a direct message or leave a comment. We love interacting with our users and hearing your thoughts.</p>

            <h4>Feedback Form:</h4>
            <p>We have a dedicated feedback form on our website that you can fill out. It's a quick and convenient way to share your thoughts, suggestions, or any issues you may have encountered. We appreciate your input, and it helps us enhance your Quiz Time experience.<a href="/feedback">click here</a></p>

            <p>We genuinely value your input and are committed to providing the best possible experience for our users. We take every message seriously and strive to respond promptly and effectively.</p>

            <p>Thank you for choosing Quiz Time as your go-to platform for quizzes and trivia. We appreciate your support and look forward to hearing from you!</p>

            <p>The Quiz Time Team</p>
        </div>
    </div>
</div>

{% endblock %}
{% block featured %}
{% endblock %}
