{%extends "user/layout.html"%}
{% block header %}{%endblock%}

{% block content %}
<h3>This is payment page</h3>
<div class="content" style="background-color: white;padding:3em">
  <p>Donation</p>
  <form action="/paystack" method="POST">
    <p>Amount:{{ trxdeets.don_amt }}</p>
    <p class="text_danger">Ref Number:{{ trxdeets.don_refno }}</p>
    <button class="btn btn-primary">Confirm Payment</button>
    <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
  </form>
</div>
{%endblock%}

{% block morecontent %}{% endblock morecontent%} 
{% block featured %}{%endblock%}

 