{% extends "user/layout.html" %}
{% block customcss %}
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

h1 {
  color: #007bff;
}

p {
  margin-bottom: 10px;
}

.total-score-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
</style>
{% endblock %}
{% block content %}
<div class="total-score-container">
  <h1>Total Score</h1>
  <p>You have completed the quiz "{{ quiz_data.quiz_name }}".</p>
  <p>Your total score is: {{ score }} out of {{ total_questions }} ({{ (score/total_questions * 100)|round(2) }}%)</p>
  <p>Thank you for taking the quiz!</p>
</div>
{% endblock %}


 